# Python
.venv/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Inspect AI eval logs
logs/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# macOS
.DS_Store
