openapi: 3.0.3
info:
  title: Learning Commons Knowledge Graph REST API
  description: |
    REST API for accessing education knowledge graph data including academic standards, learning components, and curriculum information.

    **Key datasets:**
    - **Academic standards**: Official state standards from all 50 U.S. states sourced from 1EdTech's CASE Network
    - **Learning components**: Granular, teachable skills that break down broad standards into actionable instructional units
    - **Standards crosswalks**: Connections between standards and frameworks
    - **Curriculum**: Structured course content including courses, lesson groupings (units, sections, modules), lessons, activities, and assessments

    **Learn more:**
    - [Knowledge Graph Overview](/knowledge-graph/understanding-knowledge-graph/introduction)
    - [Standards](/knowledge-graph/schema-reference/standards)
    - [Learning components](/knowledge-graph/schema-reference/learning-components)
    - [Standards crosswalks](/knowledge-graph/schema-reference/standards)
    - [Curriculum](/knowledge-graph/schema-reference/curriculum)
    - [Quickstart](/knowledge-graph/getting-started/quickstart)
  version: "0"
servers:
  - url: https://api.learningcommons.org/knowledge-graph/v0
    description: Production server
tags:
  - name: Academic standards
    description: Academic standards operations
  - name: Curriculum
    description: Curriculum operations
  - name: Durable skills
    description: Durable skills frameworks and skills operations
  - name: Hierarchy
    description: Hierarchical navigation operations
  - name: Learning components
    description: Learning components operations
  - name: Learning progressions
    description: Learning progressions operations
  - name: Search
    description: Search and discovery operations
  - name: Standards crosswalks
    description: Standards crosswalks operations
paths:
  /standards-frameworks:
    get:
      summary: Standards frameworks
      description: |
        Fetches a list of StandardsFramework objects representing complete academic standards documents. Each standards framework represents a complete standards document published by an official body like a state department of education.
        This endpoint allows you to discover available standards frameworks and retrieve metadata about standards documents from different jurisdictions, subjects, and adoption statuses.

        Use this endpoint when you need to:
        - Discover available standards frameworks to query academic standards from
        - Find standards framework UUIDs needed for the GET /academic-standards endpoint
        - Browse standards frameworks by subject, jurisdiction, or adoption status
        - Get standards framework metadata (title, adoption status, modification dates)

        **Related topics:**
        - [Understanding StandardsFramework vs StandardsFrameworkItem](/knowledge-graph/schema-reference/standards)
        - [Framework adoption statuses](/knowledge-graph/schema-reference/enums-and-formats#adoptionstatusenum)
      operationId: listFrameworks
      tags:
        - Academic standards
      parameters:
        - $ref: "#/components/parameters/JurisdictionParam"
        - $ref: "#/components/parameters/AcademicSubjectParam"
        - name: adoptionStatus
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AdoptionStatusENUM"
        - $ref: "#/components/parameters/IncludeNonCurrentParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of standards frameworks
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/StandardsFramework"
              example:
                data:
                  - identifier: "00bcc689-c7a6-5ef4-ac09-c868f9e25a06"
                    caseIdentifierURI: "https://satchelcommons.com/ims/case/v1p0/CFDocuments/822e5a6e-bcb0-45b8-bb82-a2c88d5b4bb7"
                    caseIdentifierUUID: "822e5a6e-bcb0-45b8-bb82-a2c88d5b4bb7"
                    name: "K-12 New Hampshire Social Studies Curriculum Framework"
                    description: null
                    jurisdiction: "New Hampshire"
                    academicSubject: "Social Studies"
                    inLanguage: "en-US"
                    adoptionStatus: "Implemented"
                    dateCreated: null
                    dateModified: "2023-11-19"
                    notes: null
                    author: "New Hampshire Department of Education"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. New Hampshire Social Studies standards provided by New Hampshire Department of Education available at https://www.education.nh.gov/sites/g/files/ehbemt326/files/inline-documents/standards-socialstudies-framework.pdf."
                    isCurrent: true
                  - identifier: "02575dee-30d0-50fd-b0e6-182da76f63a5"
                    caseIdentifierURI: "https://satchelcommons.com/ims/case/v1p0/CFDocuments/50a88167-d6f5-41ea-a6c1-ee1ea83b6820"
                    caseIdentifierUUID: "50a88167-d6f5-41ea-a6c1-ee1ea83b6820"
                    name: "North Carolina Standard Course of Study: Social Studies"
                    description: null
                    jurisdiction: "North Carolina"
                    academicSubject: "Social Studies"
                    inLanguage: "en-US"
                    adoptionStatus: "Implemented"
                    dateCreated: null
                    dateModified: "2024-04-08"
                    notes: null
                    author: "North Carolina Department of Public Instruction"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. North Carolina Social Studies standards provided by North Carolina Department of Public Instruction available at https://www.dpi.nc.gov/districts-schools/classroom-resources/office-teaching-and-learning/standard-course-study/social-studies/standard-course-study-supporting-resources."
                    isCurrent: true
                pagination:
                  limit: 100
                  nextCursor: "eyJpZGVudGlmaWVyIjogIjczYTJhNWY5LWRjOGUtNWE3Yi1iMzc4LTYzZGNmOWViZjFiNSJ9"
                  hasMore: true
        "400":
          description: Bad request - Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: Invalid query parameter value provided
                requestId: req_12345
        "422":
          description: Unprocessable Entity - Invalid parameter values (e.g., enum value not in allowed list)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Input should be 'Draft', 'Proposed', 'Adopted', 'Implemented', or 'Retired'"
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving standards frameworks
                requestId: req_12345
  /academic-standards/{caseIdentifierUUID}:
    get:
      summary: Standard by ID
      description: |
        Fetches a single `StandardsFrameworkItem` by its CASE Network UUID.

        A `StandardsFrameworkItem` represents an individual statement or structural element within a standards framework. These items can be normative statements that specify what students should know or be able to do (e.g., "Describe the impact of a transformation matrix on a graphical object"), or organizational groupings that structure the framework (e.g., domains, strands, clusters).

        Use this endpoint when you need to:
        - Display the full details of a specific academic standard in your application
        - Retrieve the exact statement text, grade levels, and classification for a known academic standard
        - Trace an academic standard back to its source in the CASE Network via the CASE identifiers

        The response includes the statement text, grade level(s), subject area, jurisdiction, and all source attribution required by the CC BY 4.0 license.

        **Related topics:**
        - [Understanding StandardsFrameworkItem vs StandardsFramework](/knowledge-graph/schema-reference/standards)
        - [Standard classification types](/knowledge-graph/schema-reference/enums-and-formats#normalizedstatementtypeenum)
      operationId: getAcademicStandardByCaseIdentifierUUID
      tags:
        - Academic standards
      parameters:
        - $ref: "#/components/parameters/CaseIdentifierUUIDPath"
      responses:
        "200":
          description: Successfully retrieved the standard
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StandardsFrameworkItem"
              example:
                identifier: "b15d0fc6-94b7-5bae-9e62-2c30813b4c0f"
                caseIdentifierURI: "https://satchelcommons.com/ims/case/v1p0/CFItems/6b9ee241-d7cc-11e8-824f-0242ac160002"
                caseIdentifierUUID: "6b9ee241-d7cc-11e8-824f-0242ac160002"
                name: null
                statementCode: "6.NS.B.4"
                description: "Find the greatest common factor of two whole numbers less than or equal to 100 and the least common multiple of two whole numbers less than or equal to 12. Use the distributive property to express a sum of two whole numbers 1—100 with a common factor as a multiple of a sum of two whole numbers with no common factor. *For example, express $36 + 8$ as $4(9 + 2)$.*"
                statementType: "Standard"
                normalizedStatementType: "Standard"
                jurisdiction: "Multi-State"
                academicSubject: "Mathematics"
                gradeLevel:
                  - "6"
                inLanguage: "en-US"
                dateCreated: null
                dateModified: "2025-02-05"
                notes: null
                author: "Common Good Learning Tools"
                provider: "Learning Commons"
                license: "https://creativecommons.org/licenses/by/4.0/"
                attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Common Core Mathematics standards provided by Common Good Learning Tools available at https://corestandards.org/wp-content/uploads/2023/09/Math_Standards1.pdf."
                hasChildren: false
        "400":
          description: Bad request - Invalid CASE Network UUID format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: Invalid CASE Network UUID (valid format looks like "6bd8552e-6f8f-4538-bf33-d016ac080178")
                requestId: req_12345
        "404":
          description: Academic standard not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: NotFoundError
                message: Academic standard with CASE Network UUID "6bd8552e-6f8f-4538-bf33-d016ac080178" not found. Verify the UUID is correct.
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving the academic standard
                requestId: req_12345
  /academic-standards:
    get:
      summary: Standards in a framework
      description: |
        Fetches a list of StandardsFrameworkItems for a specific standards framework.

        This endpoint retrieves academic standards from a single standards framework identified by its CASE Network UUID. You can further filter the results by grade level or classification type. This is useful when you need to work with academic standards from a specific state or jurisdiction.

        Use this endpoint when you need to:
        - Get all academic standards within a specific standards framework
        - Find academic standards for a particular grade level within a standards framework
        - Filter academic standards by subject area (e.g., only Mathematics academic standards)
        - Filter academic standards by their normalized classification (e.g., only instructional academic standards, not organizational groupings)
        - Retrieve a subset of a standards framework's academic standards for display or processing

        The endpoint returns paginated results. Use the `limit` and `cursor` parameters to control the number of results returned and navigate through large result sets.

        **Related topics:**
        - [Understanding StandardsFrameworkItem classifications](/knowledge-graph/schema-reference/enums-and-formats#normalizedstatementtypeenum)
      operationId: listAcademicStandards
      tags:
        - Academic standards
      parameters:
        - name: standardsFrameworkCaseIdentifierUUID
          in: query
          required: true
          description: CASE Network UUID for the resource
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/GradeLevelParam"
        - $ref: "#/components/parameters/AcademicSubjectParam"
        - name: normalizedStatementType
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/NormalizedStatementTypeENUM"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of standards
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/StandardsFrameworkItem"
              example:
                data:
                  - identifier: "8e73cea8-f61d-5ac4-bcef-a84a331618d6"
                    caseIdentifierURI: "https://satchelcommons.com/ims/case/v1p0/CFItems/65b82d75-d7cc-11e8-824f-0242ac160002"
                    caseIdentifierUUID: "65b82d75-d7cc-11e8-824f-0242ac160002"
                    name: null
                    statementCode: null
                    description: "Standards for Mathematical Practice"
                    statementType: null
                    normalizedStatementType: null
                    jurisdiction: "Vermont"
                    academicSubject: "Mathematics"
                    gradeLevel:
                      - "K"
                      - "1"
                      - "2"
                      - "3"
                      - "4"
                      - "5"
                      - "6"
                      - "7"
                      - "8"
                      - "9"
                      - "10"
                      - "11"
                      - "12"
                    inLanguage: "en-US"
                    dateCreated: null
                    dateModified: "2023-11-19"
                    notes: null
                    author: "Vermont Agency of Education"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Vermont Mathematics standards provided by Vermont Agency of Education available at https://education.vermont.gov/student-learning/content-areas/mathematics."
                    hasChildren: true
                pagination:
                  limit: 1
                  nextCursor: "eyJpZGVudGlmaWVyIjogIjhlNzNjZWE4LWY2MWQtNWFjNC1iY2VmLWE4NGEzMzE2MThkNiJ9"
                  hasMore: true
        "400":
          description: Bad request - Missing required parameter or using invalid filter values
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Missing required parameter: standardsFrameworkCaseIdentifierUUID. Example: ?standardsFrameworkCaseIdentifierUUID=c6493f4d-d7cb-11e8-824f-0242ac160002"
                requestId: req_12345
        "422":
          description: Unprocessable Entity - Invalid parameter values (e.g., enum value not in allowed list)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Input should be 'Standard', 'Standard Grouping', or 'Other'"
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving academic standards
                requestId: req_12345
  /academic-standards/search:
    get:
      summary: Search standards
      description: |
        Searches for StandardsFrameworkItems using either semantic search or exact statement code match across all standards frameworks.

        This endpoint supports two mutually exclusive search modes:

        - **Semantic search** (`query`): Full-text semantic search against the standard's description. Results are ranked by relevance and include a `score` reflecting vector similarity.
        - **Code search** (`statementCode`): Exact statement code match (e.g., "3.NF.A.1"). Case-insensitive, no partial matching. All results carry a `score` of 1.0.

        **Exactly one of `query` or `statementCode` must be provided.** Providing both or neither returns a 400 error.

        Results can be narrowed further using the optional filters and support cursor-based pagination.

        Use this endpoint when you need to:
        - Find academic standards relevant to a concept or learning goal (semantic search)
        - Look up an academic standard by its exact statement code
        - Find all standards frameworks that include a specific statement code
        - Filter search results by grade level, subject, or statement type

        **Note:** Not all academic standards have statement codes - some organizational groupings may have null codes and won't appear in code search results.

        **Related topics:**
        - [Understanding statement codes](/knowledge-graph/schema-reference/standards#standardsframeworkitem)
      operationId: searchAcademicStandards
      tags:
        - Academic standards
        - Search
      parameters:
        - name: query
          in: query
          required: false
          description: Free-text query for semantic search against academic standard descriptions (cannot be used with `statementCode`)
          schema:
            type: string
            maxLength: 500
        - name: statementCode
          in: query
          required: false
          description: Statement code used for case-insensitive exact match – e.g., "3.NF.A.1" matches "3.nf.a.1" (cannot be used with `query`)
          schema:
            type: string
            maxLength: 50
        - $ref: "#/components/parameters/GradeLevelParam"
        - name: academicSubject
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AcademicSubjectENUM"
        - name: normalizedStatementType
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/NormalizedStatementTypeENUM"
        - name: jurisdiction
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/JurisdictionENUM"
            default: Multi-State
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 5
      responses:
        "200":
          description: Successfully retrieved search results (ranked by relevance)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AcademicStandardSearchResult"
              example:
                - caseIdentifierUUID: "fa29b90a-2795-4bf5-b6bc-3ac4a695e9e2"
                  statementCode: "6.NS.B.4"
                  description: "Find the greatest common factor of two whole numbers less than or equal to 100 and the least common multiple of two whole numbers less than or equal to 12."
                  jurisdiction: "Washington, D.C."
                  author: "District of Columbia Office of the State Superintendent of Education"
                  provider: "Learning Commons"
                  license: "https://creativecommons.org/licenses/by/4.0/"
                  attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Washington D.C. Mathematics standards provided by District of Columbia Office of the State Superintendent of Education available at https://corestandards.org/wp-content/uploads/2023/09/ADA-Compliant-Math-Standards.pdf."
                  score: 0.92
                - caseIdentifierUUID: "61b03523-d7cc-11e8-824f-0242ac160002"
                  statementCode: "6.NS.B.4"
                  description: "Find the greatest common factor of two whole numbers less than or equal to 100 and the least common multiple of two whole numbers less than or equal to 12."
                  jurisdiction: "Maryland"
                  author: "Maryland Department of Education"
                  provider: "Learning Commons"
                  license: "https://creativecommons.org/licenses/by/4.0/"
                  attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Maryland Mathematics standards provided by Maryland Department of Education available at http://marylandpublicschools.org/about/Pages/DCAA/Math/MCCRSM.aspx."
                  score: 0.87
        "400":
          description: Bad request - exactly one of query or statementCode must be provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Exactly one of query or statementCode must be provided. Example: ?query=greatest+common+factor or ?statementCode=3.NF.A.1"
                requestId: req_12345
        "422":
          description: Unprocessable Entity - Invalid parameter values (e.g., enum value not in allowed list)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Input should be 'Alabama', 'Alaska', ..., or 'Multi-State'"
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while searching for academic standards
                requestId: req_12345
  /academic-standards/{caseIdentifierUUID}/children:
    get:
      summary: Children of a standard
      description: |
        Fetches StandardsFrameworkItems that are direct children of the specified academic standard through the "hasChild" relationship.

        This endpoint retrieves academic standards that are hierarchically organized under the given academic standard. This allows you to navigate down the standards framework hierarchy from domains to clusters to individual academic standards, or from any parent grouping to its children.

        Use this endpoint when you need to:
        - Navigate down the standards framework hierarchy (e.g., from domain to academic standards)
        - Get all academic standards within a specific grouping or cluster
        - Build tree visualizations of standards framework structures
        - Explore the organizational structure of a standards document

        **Note:** This returns direct children only, not all descendants. To get all descendants, you'll need to traverse multiple levels.

        The endpoint returns paginated results. Use the `limit` and `cursor` parameters to control the number of results returned.

        **Related topics:**
        - [Understanding the hasChild relationship](/knowledge-graph/schema-reference/standards#haschild)
      operationId: listChildAcademicStandards
      tags:
        - Academic standards
        - Hierarchy
      parameters:
        - $ref: "#/components/parameters/CaseIdentifierUUIDPath"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of child standards
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/StandardsFrameworkItemSummary"
              example:
                data:
                  - identifier: "3a650f7a-3b10-55d0-9d07-c2bdf8e08175"
                    caseIdentifierURI: "https://satchelcommons.com/ims/case/v1p0/CFItems/6b9c2b26-d7cc-11e8-824f-0242ac160002"
                    caseIdentifierUUID: "6b9c2b26-d7cc-11e8-824f-0242ac160002"
                    name: null
                    statementCode: "6.RP.A.1"
                    description: "Understand the concept of a ratio and use ratio language to describe a ratio relationship between two quantities. *For example, \"The ratio of wings to beaks in the bird house at the zoo was 2:1, because for every 2 wings there was 1 beak.\" \"For every vote candidate A received, candidate C received nearly three votes.\"*"
                    statementType: "Standard"
                    normalizedStatementType: "Standard"
                    jurisdiction: "Multi-State"
                    academicSubject: "Mathematics"
                    gradeLevel:
                      - "6"
                    inLanguage: "en-US"
                    dateCreated: null
                    dateModified: "2025-02-05"
                    notes: null
                    author: "Common Good Learning Tools"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Common Core Mathematics standards provided by Common Good Learning Tools available at https://corestandards.org/wp-content/uploads/2023/09/Math_Standards1.pdf."
                    hasChildren: false
                  - identifier: "c3126032-2984-5b67-9ed5-2f2f0821e99f"
                    caseIdentifierURI: "https://satchelcommons.com/ims/case/v1p0/CFItems/6b9d6aa3-d7cc-11e8-824f-0242ac160002"
                    caseIdentifierUUID: "6b9d6aa3-d7cc-11e8-824f-0242ac160002"
                    name: null
                    statementCode: "6.RP.A.2"
                    description: "Understand the concept of a unit rate $\\frac{a}{b}$ associated with a ratio a:b with $b \\neq 0$, and use rate language in the context of a ratio relationship."
                    statementType: "Standard"
                    normalizedStatementType: "Standard"
                    jurisdiction: "Multi-State"
                    academicSubject: "Mathematics"
                    gradeLevel:
                      - "6"
                    inLanguage: "en-US"
                    dateCreated: null
                    dateModified: "2025-02-05"
                    notes: "Expectations for unit rates in this grade are limited to non-complex fractions."
                    author: "Common Good Learning Tools"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Common Core Mathematics standards provided by Common Good Learning Tools available at https://corestandards.org/wp-content/uploads/2023/09/Math_Standards1.pdf."
                    hasChildren: false
                pagination:
                  limit: 2
                  nextCursor: "eyJpZGVudGlmaWVyIjogImMzMTI2MDMyLTI5ODQtNWI2Ny05ZWQ1LTJmMmYwODIxZTk5ZiJ9"
                  hasMore: true
        "400":
          description: Bad request - Invalid CASE Network UUID or pagination parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Invalid pagination parameter. Limit must be between 1 and 1000 (e.g., limit=100). Cursor must be a valid base64-encoded string from a previous response."
                requestId: req_12345
        "404":
          description: Academic standard not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: NotFoundError
                message: Academic standard with CASE Network UUID "6bd8552e-6f8f-4538-bf33-d016ac080178" not found. Verify the UUID is correct.
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving child standards
                requestId: req_12345
  /academic-standards/{caseIdentifierUUID}/prerequisites:
    get:
      summary: Prerequisites for a standard
      description: |
        Fetches the prerequisite StandardsFrameworkItems for the specified academic standard - the foundational standards it builds **from** via the "buildsTowards" relationship.

        These are the foundational skills or concepts that contribute to mastery of the given academic standard (each prerequisite `buildsTowards` the given standard). The relationship is directional but does not require strict prerequisite order - students don't need to fully master prerequisites before engaging with the given academic standard.

        Use this endpoint when you need to:
        - Identify foundational academic standards students should be familiar with before tackling a target academic standard
        - Trace backward through a learning progression to understand dependencies
        - Design remediation or review activities based on prerequisite skills
        - Map out a coherent learning pathway for students

        **Note:** Learning progression data is currently based on Student Achievement Partners' Coherence Map for Common Core State Standards (CCSS) for Mathematics. Coverage for other subjects and frameworks may be limited.

        The endpoint returns paginated results. Use the `limit` and `cursor` parameters to control the number of results returned.

        **Related topics:**
        - [Understanding the buildsTowards relationship](/knowledge-graph/schema-reference/learning-progressions#buildstowards)
      operationId: listPrerequisiteAcademicStandards
      tags:
        - Academic standards
        - Learning progressions
      parameters:
        - $ref: "#/components/parameters/CaseIdentifierUUIDPath"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of prerequisite standards
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/StandardsFrameworkItemSummary"
              example:
                data:
                  - caseIdentifierUUID: "6b9ee241-d7cc-11e8-824f-0242ac160002"
                    statementCode: "5.OA.A.2"
                    description: "Write simple expressions that record calculations with numbers, and interpret numerical expressions without evaluating them. *For example, express the calculation \"add 8 and 7, then multiply by 2\" as $2 \\times (8 + 7)$. Recognize that $3 \\times (18932 + 921)$ is three times as large as 18932 + 921, without having to calculate the indicated sum or product.*"
                    author: "Common Good Learning Tools"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Common Core Mathematics standards provided by Common Good Learning Tools available at https://corestandards.org/wp-content/uploads/2023/09/Math_Standards1.pdf."
                  - caseIdentifierUUID: "6b9ed00e-d7cc-11e8-824f-0242ac160002"
                    statementCode: "4.OA.B.4"
                    description: "Find all factor pairs for a whole number in the range 1—100. Recognize that a whole number is a multiple of each of its factors. Determine whether a given whole number in the range 1—100 is a multiple of a given one-digit number. Determine whether a given whole number in the range 1—100 is prime or composite."
                    author: "Common Good Learning Tools"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Common Core Mathematics standards provided by Common Good Learning Tools available at https://corestandards.org/wp-content/uploads/2023/09/Math_Standards1.pdf."
                pagination:
                  limit: 100
                  nextCursor: null
                  hasMore: false
        "400":
          description: Bad request - Invalid CASE Network UUID or pagination parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: Invalid CASE Network UUID format. Must be a valid UUID (e.g., "6bd8552e-6f8f-4538-bf33-d016ac080178").
                requestId: req_12345
        "404":
          description: Academic standard not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: NotFoundError
                message: Academic standard with CASE Network UUID "6bd8552e-6f8f-4538-bf33-d016ac080178" not found. Verify the UUID is correct.
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving prerequisite standards
                requestId: req_12345
  /academic-standards/{caseIdentifierUUID}/builds-towards:
    get:
      summary: Standards a standard builds towards
      description: |
        Fetches the StandardsFrameworkItems that the specified academic standard builds **towards** via the "buildsTowards" relationship - the standards it is a prerequisite of.

        These are the next logical learning steps or more advanced concepts that students can progress to after working with the given academic standard (the given standard `buildsTowards` each of them). Proficiency in the given academic standard supports the likelihood of success in these standards.

        Use this endpoint when you need to:
        - Identify next steps in a learning progression after students master an academic standard
        - Design curriculum sequences that build on foundational skills
        - Map forward through learning pathways to understand where academic standards lead
        - Plan long-term instructional trajectories for students

        **Note:** Learning progression data is currently based on Student Achievement Partners' Coherence Map for Common Core State Standards (CCSS) for Mathematics. Coverage for other subjects and frameworks may be limited.

        The endpoint returns paginated results. Use the `limit` and `cursor` parameters to control the number of results returned.

        **Related topics:**
        - [Understanding the buildsTowards relationship](/knowledge-graph/schema-reference/learning-progressions#buildstowards)
      operationId: listBuildsTowardsAcademicStandards
      tags:
        - Academic standards
        - Learning progressions
      parameters:
        - $ref: "#/components/parameters/CaseIdentifierUUIDPath"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of standards this standard builds towards
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/StandardsFrameworkItemSummary"
              example:
                data:
                  - caseIdentifierUUID: "6b9e3b67-d7cc-11e8-824f-0242ac160002"
                    statementCode: "6.EE.A.3"
                    description: "Apply the properties of operations to generate equivalent expressions. *For example, apply the distributive property to the expression $3(2 + x)$ to produce the equivalent expression 6 + 3x; apply the distributive property to the expression 24x + 18y to produce the equivalent expression $6(4x + 3y)$; apply properties of operations to y + y + y to produce the equivalent expression 3y.*"
                    author: "Common Good Learning Tools"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Common Core Mathematics standards provided by Common Good Learning Tools available at https://corestandards.org/wp-content/uploads/2023/09/Math_Standards1.pdf."
                  - caseIdentifierUUID: "6b9edd45-d7cc-11e8-824f-0242ac160002"
                    statementCode: "6.EE.A.4"
                    description: "Identify when two expressions are equivalent (i.e., when the two expressions name the same number regardless of which value is substituted into them). *For example, the expressions y + y + y and 3y are equivalent because they name the same number regardless of which number y stands for.*"
                    author: "Common Good Learning Tools"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Common Core Mathematics standards provided by Common Good Learning Tools available at https://corestandards.org/wp-content/uploads/2023/09/Math_Standards1.pdf."
                pagination:
                  limit: 100
                  nextCursor: null
                  hasMore: false
        "400":
          description: Bad request - Invalid CASE Network UUID or pagination parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: Invalid CASE Network UUID format. Must be a valid UUID (e.g., "6bd8552e-6f8f-4538-bf33-d016ac080178").
                requestId: req_12345
        "404":
          description: Academic standard not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: NotFoundError
                message: Academic standard with CASE Network UUID "6bd8552e-6f8f-4538-bf33-d016ac080178" not found. Verify the UUID is correct.
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving standards this standard builds towards
                requestId: req_12345
  /academic-standards/{caseIdentifierUUID}/related-standards:
    get:
      summary: Related standards for a standard
      description: |
        Fetches StandardsFrameworkItems that are related to the specified academic standard through the "relatesTo" relationship.

        This endpoint retrieves academic standards that share meaningful conceptual or skill-based links with the given academic standard, without implying a specific sequence or prerequisite order. These lateral connections highlight associations that can inform instructional design, identify reinforcing concepts, or reveal thematic links across academic standards.

        Use this endpoint when you need to:
        - Find academic standards with related content or skills for integrated instruction
        - Identify opportunities for reinforcing concepts across different academic standards
        - Design cross-curricular or thematic units that connect related academic standards
        - Discover alternative pathways or parallel concepts in curriculum planning

        **Note:** Learning progression data is currently based on Student Achievement Partners' Coherence Map for Common Core State Standards (CCSS) for Mathematics. Coverage for other subjects and frameworks may be limited.

        The endpoint returns paginated results. Use the `limit` and `cursor` parameters to control the number of results returned.

        **Related topics:**
        - [Understanding the relatesTo relationship](/knowledge-graph/schema-reference/learning-progressions#relatesto)
      operationId: listRelatedAcademicStandards
      tags:
        - Academic standards
        - Learning progressions
      parameters:
        - $ref: "#/components/parameters/CaseIdentifierUUIDPath"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of related standards
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/StandardsFrameworkItemSummary"
              example:
                data:
                  - caseIdentifierUUID: "6ba0feac-d7cc-11e8-824f-0242ac160002"
                    statementCode: "5.NF.B.7"
                    description: "Apply and extend previous understandings of division to divide unit fractions"
                  - caseIdentifierUUID: "6ba0e123-d7cc-11e8-824f-0242ac160002"
                    statementCode: "5.NF.B.6"
                    description: "Solve real world problems involving multiplication of fractions"
                  - caseIdentifierUUID: "6ba0c456-d7cc-11e8-824f-0242ac160002"
                    statementCode: "5.NF.B.5"
                    description: "Interpret multiplication as scaling (resizing)"
                  - caseIdentifierUUID: "6ba0a789-d7cc-11e8-824f-0242ac160002"
                    statementCode: "5.NF.B.4"
                    description: "Apply and extend previous understandings of multiplication to multiply a fraction by a whole number"
                pagination:
                  limit: 100
                  nextCursor: "eyJpZGVudGlmaWVyIjoiNWI3ZjE4ZmUtYmQxNC01NDI3LThkMzUtNWQzNGMzYjhmMTBmIn0="
                  hasMore: true
        "400":
          description: Bad request - Invalid CASE Network UUID or pagination parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: Invalid CASE Network UUID format. Must be a valid UUID (e.g., "6bd8552e-6f8f-4538-bf33-d016ac080178").
                requestId: req_12345
        "404":
          description: Academic standard not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: NotFoundError
                message: Academic standard with CASE Network UUID "6bd8552e-6f8f-4538-bf33-d016ac080178" not found. Verify the UUID is correct.
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving related standards
                requestId: req_12345
  /academic-standards/{caseIdentifierUUID}/learning-components:
    get:
      summary: Learning components for a standard
      description: |
        Fetches a list of LearningComponents that support a specific StandardsFrameworkItem.

        This endpoint retrieves all learning components that are aligned to a given academic standard through the "supports" relationship. Learning components break down broad academic standards into granular, teachable skills, making them actionable for lesson planning and assessment design.

        Use this endpoint when you need to:
        - Find the specific skills that compose a given academic standard
        - Identify granular learning targets for instruction aligned to an academic standard
        - Map learning components to your curriculum or assessment items
        - Understand how a broad academic standard breaks down into teachable units

        **Note:** Learning component alignments are currently available primarily for Mathematics academic standards. Academic standards in other subjects or certain special categories (e.g., Standards for Mathematical Practice, Pre-K, advanced math) may not have LC alignments.

        The endpoint returns paginated results. Use the `limit` and `cursor` parameters to control the number of results returned.

        **Related topics:**
        - [Understanding the supports relationship](/knowledge-graph/schema-reference/learning-components#supports)
        - [LC alignment methodology](/knowledge-graph/schema-reference/learning-components#creation-of-lcs)
        - [Available LC coverage by state](/knowledge-graph/schema-reference/learning-components#current-lc-mappings)
      operationId: listLearningComponentsByAcademicStandard
      tags:
        - Learning components
        - Academic standards
      parameters:
        - $ref: "#/components/parameters/CaseIdentifierUUIDPath"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of learning components supporting this standard
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/LearningComponentSummary"
              example:
                data:
                  - identifier: "926bf4b0-e045-536b-ac02-2089d77cbf6c"
                    description: "Find the least common multiple of two whole numbers less than or equal to 12"
                    author: "Achievement Network"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received learning components under CC BY-4.0 from Achievement Network."
                  - identifier: "9bf54462-5fd0-59bf-8360-cd503e45b884"
                    description: "Find the greatest common factor of two whole numbers less than or equal to 100"
                    author: "Achievement Network"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received learning components under CC BY-4.0 from Achievement Network."
                  - identifier: "c587f727-0135-571c-8c60-7ad46e0a28c5"
                    description: "Use the distributive property to express a sum of two whole numbers 1-100 with a common factor as a multiple of a sum of two whole numbers with no common factor"
                    author: "Achievement Network"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received learning components under CC BY-4.0 from Achievement Network."
                pagination:
                  limit: 100
                  nextCursor: null
                  hasMore: false
        "400":
          description: Bad request - Invalid CASE Network UUID or pagination parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: Invalid CASE Network UUID format. Must be a valid UUID (e.g., "6bd8552e-6f8f-4538-bf33-d016ac080178").
                requestId: req_12345
        "404":
          description: Academic standard not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: NotFoundError
                message: Academic standard with CASE Network UUID "6bd8552e-6f8f-4538-bf33-d016ac080178" not found. Verify the UUID is correct.
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving learning components
                requestId: req_12345
  /academic-standards/{caseIdentifierUUID}/crosswalks:
    get:
      summary: Crosswalks for a standard
      description: |
        Fetches a list of standards that align to a specific standard through shared learning components.

        This endpoint retrieves crosswalk relationships bidirectionally:
        - **State standard → CCSS**: Pass in a state standard to get matching Common Core State Standards (CCSS)
        - **CCSS → State standards**: Pass in a Common Core State Standards (CCSS) standard to get matching state standards across jurisdictions

        Each crosswalk includes similarity metrics based on measurable overlap of learning components to help understand the strength and nature of the alignment.

        Crosswalks provide a scalable way to extend mappings between CCSS and state-specific frameworks without independent matching logic. By leveraging the LC superset, crosswalks show where standards converge in content coverage.

        Use this endpoint when you need to:
        - Find Common Core State Standards (CCSS) standards that align to a state standard for content adaptation
        - Find state standards that align to a Common Core State Standards (CCSS) standard across multiple jurisdictions
        - Understand the similarity between standards
        - Map content between Common Core and state frameworks
        - Analyze the degree of overlap between standards

        **Note:** Crosswalks are currently available for Mathematics and English Language Arts (ELA) standards in states where LC alignment exists. Math crosswalks cover grades K-12. ELA crosswalks cover grades K-2. Crosswalks are evidence-based (require at least one shared learning component).

        The endpoint returns paginated results. Use the `limit` and `cursor` parameters to control the number of results returned.

        **Related topics:**
        - [Standards crosswalks methodology](/knowledge-graph/schema-reference/standards#understanding-the-jaccard-score)
      operationId: listCrosswalkedStandards
      tags:
        - Standards crosswalks
        - Academic standards
      parameters:
        - $ref: "#/components/parameters/CaseIdentifierUUIDPath"
        - $ref: "#/components/parameters/JurisdictionParam"
        - name: minJaccardScore
          in: query
          required: false
          description: Minimum Jaccard score when focusing on stronger alignments
          schema:
            type: number
            format: float
            minimum: 0.0
            maximum: 1.0
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of Common Core State Standards (CCSS) standards if a state standard was provided, or a list of state standards if a CCSS standard was provided
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/StandardCrosswalk"
              examples:
                stateToCommonCore:
                  summary: State standard to Common Core State Standards (CCSS) standards (returns CCSS standards)
                  value:
                    data:
                      - caseIdentifierUUID: "0bb530f0-4b99-11ec-a64d-0242ac1a0003"
                        statementCode: "6.NS.B.4"
                        description: "Use prime factorization to find the greatest common factor of two whole numbers less than or equal to 100 and the least common multiple of two whole numbers less than or equal to 12. Use the distributive property to express a sum of two whole numbers 1–100 with a common factor as a multiple of a sum of two relatively prime numbers. For example, express 36 + 8 as 4(9 + 2)."
                        jurisdiction: "Rhode Island"
                        jaccard: 1.0
                        stateLCCount: 3
                        ccssLCCount: 3
                        sharedLCCount: 3
                        author: "Rhode Island Department of Education"
                        provider: "Learning Commons"
                        license: "https://creativecommons.org/licenses/by/4.0/"
                        attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Rhode Island Mathematics standards provided by Rhode Island Department of Education available at https://ride.ri.gov/sites/g/files/xkgbur806/files/Portals/0/Uploads/Documents/Instruction-and-Assessment-World-Class-Standards/Standards/Rhode-Island-Core-Standards-V2-4.9.21.pdf?ver=2021-04-21-154246-580."
                      - caseIdentifierUUID: "16674743-eb8f-11e9-9f9f-0242ac140002"
                        statementCode: "6.NS.B.4"
                        description: "Find the greatest common factor of two whole numbers less than or equal to 100 and the least common multiple of two whole numbers less than or equal to 12. Use the distributive property to express a sum of two whole numbers 1–100 with a common factor as a multiple of a sum of two whole numbers with no common factor. *For example, express 36 + 8 as 4(9 + 2).*"
                        jurisdiction: "Colorado"
                        jaccard: 1.0
                        stateLCCount: 3
                        ccssLCCount: 3
                        sharedLCCount: 3
                        author: "Colorado Department of Education"
                        provider: "Learning Commons"
                        license: "https://creativecommons.org/licenses/by/4.0/"
                        attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Colorado Mathematics standards provided by Colorado Department of Education available at https://www.cde.state.co.us/comath/statestandards."
                    pagination:
                      limit: 100
                      nextCursor: null
                      hasMore: false
                commonCoreToState:
                  summary: Common Core State Standards (CCSS) standards to state standards (returns state standards)
                  value:
                    data:
                      - caseIdentifierUUID: "7cd13b29-605b-3c35-8b10-082008a56b05"
                        statementCode: "3.NF.A.1"
                        description: "Understand a fraction 1/b as the quantity formed by 1 part when a whole is partitioned into b equal parts"
                        jurisdiction: "Iowa"
                        jaccard: 0.95
                        stateLCCount: 7
                        ccssLCCount: 7
                        sharedLCCount: 7
                      - caseIdentifierUUID: "8de24c3a-716c-4d46-9c21-193119b67c16"
                        statementCode: "MA.3.NF.1"
                        description: "Understand a fraction 1/b as the quantity formed by 1 part when a whole is partitioned into b equal parts"
                        jurisdiction: "Massachusetts"
                        jaccard: 0.92
                        stateLCCount: 8
                        ccssLCCount: 7
                        sharedLCCount: 7
                    pagination:
                      limit: 100
                      nextCursor: "eyJpZGVudGlmaWVyIjoiOGRlMjRjM2EtNzE2Yy00ZDQ2LTljMjEtMTkzMTE5YjY3YzE2In0="
                      hasMore: true
        "400":
          description: Bad request - Invalid CASE Network UUID or filter parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: Invalid minJaccardScore. Must be a number between 0.0 and 1.0.
                requestId: req_12345
        "404":
          description: Academic standard not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: NotFoundError
                message: Academic standard with CASE Network UUID "6bd8552e-6f8f-4538-bf33-d016ac080178" not found. Verify the UUID is correct.
                requestId: req_12345
        "422":
          description: Unprocessable Entity - Invalid parameter values (e.g., enum value not in allowed list)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Input should be 'Alabama', 'Alaska', ..., or 'Multi-State'"
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving crosswalked standards
                requestId: req_12345
  /learning-components/{identifier}:
    get:
      summary: Learning component by ID
      description: |
        Fetches a single LearningComponent by its unique identifier.

        A LearningComponent represents a single, well-defined skill or concept that students are expected to learn. Learning components are granular units of learning that break down broad state standards into teachable and measurable parts at the level of a lesson, activity, or assessment question.

        Use this endpoint when you need to:
        - Display the full details of a specific learning component
        - Retrieve the skill description and metadata for a known learning component
        - Access attribution information for learning components used in your application

        Learning components(LCs) are developed through expert-driven processes with input from experienced educators. Currently, LCs are available for mathematics standards across multiple states, with more subjects and states being added over time.

        **Related topics:**
        - [Understanding learning components](/knowledge-graph/schema-reference/learning-components)
        - [LC creation and alignment process](/knowledge-graph/schema-reference/learning-components#creation-of-lcs)
        - [Available LC mappings by state](/knowledge-graph/schema-reference/learning-components#current-lc-mappings)
      operationId: getLearningComponentByIdentifier
      tags:
        - Learning components
      parameters:
        - $ref: "#/components/parameters/LearningComponentIdentifierPath"
      responses:
        "200":
          description: Successfully retrieved the learning component
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LearningComponent"
              example:
                identifier: "926bf4b0-e045-536b-ac02-2089d77cbf6c"
                description: "Find the least common multiple of two whole numbers less than or equal to 12"
                academicSubject: "Mathematics"
                inLanguage: "en-US"
                dateCreated: "2025-04-01"
                dateModified: "2025-04-01"
                author: "Achievement Network"
                provider: "Learning Commons"
                license: "https://creativecommons.org/licenses/by/4.0/"
                attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received learning components under CC BY-4.0 from Achievement Network."
        "400":
          description: Bad request - Invalid identifier format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: Invalid identifier format. Must be a valid UUID string (e.g., "0b4a3aca-ad10-5ad3-b890-e30d7042bd5b").
                requestId: req_12345
        "404":
          description: Learning component not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: NotFoundError
                message: Learning component with identifier "0b4a3aca-ad10-5ad3-b890-e30d7042bd5b" not found. Verify the identifier or use GET /learning-components to browse available learning components.
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving the learning component
                requestId: req_12345
  /academic-standards/{caseIdentifierUUID}/lessons:
    get:
      summary: Lessons for a standard
      description: |
        Fetches summary information for all lessons that address a specific academic standard.

        Returns lesson summaries (identifier, name, position) that are aligned to this standard, indicating which lessons in the curriculum help students achieve this learning expectation.

        Use this endpoint when you need to:
        - Find all lessons that teach a specific standard
        - Build standards-based lesson sequences
        - Track where standards are addressed across the curriculum
        - Generate standards coverage reports
      operationId: getStandardLessons
      tags:
        - Academic standards
      parameters:
        - $ref: "#/components/parameters/CaseIdentifierUUIDPath"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of lesson summaries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/LessonSummary"
              example:
                data:
                  - identifier: im:2ebf72dc-53f8-557b-b804-fca624be807a
                    name: Making a Model for Data
                    ordinalName: Lesson 11
                    author: Illustrative Mathematics
                    provider: Learning Commons
                    license: https://creativecommons.org/licenses/by-nc/4.0/
                    attributionStatement: Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received the scope and sequence of the Illustrative Mathematics 360 curriculum under CC BY-4.0 from Illustrative Mathematics.
                  - identifier: im:b29e2804-6f89-5cd2-90e5-aa0b15c01343
                    name: Predicting Populations
                    ordinalName: Lesson 17
                    author: Illustrative Mathematics
                    provider: Learning Commons
                    license: https://creativecommons.org/licenses/by-nc/4.0/
                    attributionStatement: Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received the scope and sequence of the Illustrative Mathematics 360 curriculum under CC BY-4.0 from Illustrative Mathematics.
                pagination:
                  limit: 100
                  nextCursor: null
                  hasMore: false
        "404":
          description: Academic standard not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /academic-standards/{caseIdentifierUUID}/activities:
    get:
      summary: Activities for a standard
      description: |
        Fetches summary information for all activities that address a specific academic standard.

        Returns activity summaries (identifier, name, position) that are aligned to this standard, indicating which specific instructional tasks help students achieve this learning expectation.

        Use this endpoint when you need to:
        - Find all activities that teach a specific standard
        - Build standards-based activity sets
        - Track standards coverage at the activity level
        - Generate detailed standards alignment reports
      operationId: getStandardActivities
      tags:
        - Academic standards
      parameters:
        - $ref: "#/components/parameters/CaseIdentifierUUIDPath"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of activity summaries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ActivitySummary"
              example:
                data:
                  - identifier: im:98928b4e-0183-5e0e-955d-230653db7332
                    name: Water in a Tank
                    ordinalName: Activity 1
                    author: Illustrative Mathematics
                    provider: Learning Commons
                    license: https://creativecommons.org/licenses/by-nc/4.0/
                    attributionStatement: Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received the scope and sequence of the Illustrative Mathematics 360 curriculum under CC BY-4.0 from Illustrative Mathematics.
                  - identifier: im:a859c7f9-ba5c-5b2e-82e9-1b948e4ee01c
                    name: Swing Time
                    ordinalName: Activity 2
                    author: Illustrative Mathematics
                    provider: Learning Commons
                    license: https://creativecommons.org/licenses/by-nc/4.0/
                    attributionStatement: nKnowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received the scope and sequence of the Illustrative Mathematics 360 curriculum under CC BY-4.0 from Illustrative Mathematics.l
                pagination:
                  limit: 100
                  nextCursor: null
                  hasMore: false
        "404":
          description: Academic standard not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /academic-standards/{caseIdentifierUUID}/assessments:
    get:
      summary: Assessments for a standard
      description: |
        Fetches summary information for all assessments that evaluate a specific academic standard.

        Returns assessment summaries (identifier, name) that are aligned to this standard, indicating which assessments measure student achievement of this learning expectation.

        Use this endpoint when you need to:
        - Find all assessments that evaluate a specific standard
        - Build standards-based assessment systems
        - Track which standards are assessed
        - Generate assessment coverage reports
      operationId: getStandardAssessments
      tags:
        - Academic standards
      parameters:
        - $ref: "#/components/parameters/CaseIdentifierUUIDPath"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of assessment summaries
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/AssessmentSummary"
              example:
                data:
                  - identifier: im:5f1b43a3-a087-5f15-8e0e-b5dd3d2d3d23
                    name: End-of-Unit Assessment
                    author: Illustrative Mathematics
                    provider: Learning Commons
                    license: https://creativecommons.org/licenses/by-nc/4.0/
                    attributionStatement: Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received the scope and sequence of the Illustrative Mathematics 360 curriculum under CC BY-4.0 from Illustrative Mathematics.
                  - identifier: im:b98c7782-3cb1-5198-8ebe-aab294d9227b
                    name: End-of-Unit Assessment
                    author: Illustrative Mathematics
                    provider: Learning Commons
                    license: https://creativecommons.org/licenses/by-nc/4.0/
                    attributionStatement: Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received the scope and sequence of the Illustrative Mathematics 360 curriculum under CC BY-4.0 from Illustrative Mathematics.
                pagination:
                  limit: 100
                  nextCursor: null
                  hasMore: false
        "404":
          description: Academic standard not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /learning-components:
    get:
      summary: Learning components by subject
      description: |
        Fetches a list of LearningComponents filtered by academic subject.

        This endpoint retrieves learning components for a specific subject area. Learning components are granular skills that break down broad standards into teachable units. Learning components are available for Mathematics and English Language Arts, with additional subjects being developed.

        Use this endpoint when you need to:
        - Get all learning components available for a specific subject
        - Browse the complete set of skills/concepts for curriculum planning
        - Retrieve LCs for mapping to your own content or assessments
        - Export learning component data for analysis or integration

        The endpoint returns paginated results. Use the `limit` and `cursor` parameters to control the number of results returned and navigate through large result sets.

        **Related topics:**
        - [Understanding Learning components](/knowledge-graph/schema-reference/learning-components)
        - [Available LC coverage by subject and state](/knowledge-graph/schema-reference/learning-components#current-lc-mappings)
      operationId: listLearningComponents
      tags:
        - Learning components
      parameters:
        - name: academicSubject
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/AcademicSubjectENUM"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of learning components
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/LearningComponent"
              example:
                data:
                  - identifier: "0013fbee-3e76-500f-9978-42aa1a65f105"
                    description: "Use conversions to solve multi-step real-world problems"
                    academicSubject: "Mathematics"
                    inLanguage: "en-US"
                    dateCreated: "2025-04-01"
                    dateModified: "2025-04-01"
                    author: "Achievement Network"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received learning components under CC BY-4.0 from Achievement Network."
                  - identifier: "457afeb6-6d17-5cff-8679-7b919d744bdd"
                    description: "Print uppercase \"A\""
                    academicSubject: "English Language Arts"
                    inLanguage: "en-US"
                    dateCreated: "2025-04-01"
                    dateModified: "2025-04-01"
                    author: "Achievement Network"
                    provider: "Learning Commons"
                    license: "https://creativecommons.org/licenses/by/4.0/"
                    attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received learning components under CC BY-4.0 from Achievement Network."
                pagination:
                  limit: 100
                  nextCursor: "eyJpZGVudGlmaWVyIjogIjA5OWNlY2NiLTQ3MzItNTZjMC1iZGIxLTYxZjljNmZjYmQ2NSJ9"
                  hasMore: true
        "400":
          description: Bad request - Missing required parameter or invalid values
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Missing required parameter: academicSubject. Example: ?academicSubject=Mathematics or ?academicSubject=English Language Arts"
                requestId: req_12345
        "422":
          description: Unprocessable Entity - Invalid parameter values (e.g., enum value not in allowed list)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Input should be 'English Language Arts', 'Mathematics', 'Science', 'Social Studies', or 'Other'"
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving learning components
                requestId: req_12345
  /learning-components/search:
    get:
      summary: Search learning components
      description: |
        <Warning>This endpoint is for free-text semantic search across learning component descriptions. To retrieve learning components for a specific standard, use [Components for a standard](/api-reference/learning-components/learning-components-for-a-standard) instead.</Warning>

        Searches for LearningComponents using semantic search against learning component descriptions.

        Results are ranked by relevance to the query text and include a `score` reflecting vector similarity. Use the optional `academicSubject` filter to narrow results to a specific subject area.

        Use this endpoint when you need to:
        - Find learning components relevant to a specific skill or concept
        - Discover granular instructional targets related to a teaching goal
        - Search for LCs to map to your own content or assessments

        **Related topics:**
        - [Understanding Learning components](/knowledge-graph/schema-reference/learning-components)
        - [Available LC coverage by subject and state](/knowledge-graph/schema-reference/learning-components#current-lc-mappings)
      operationId: searchLearningComponents
      tags:
        - Learning components
        - Search
      parameters:
        - name: query
          in: query
          required: true
          description: Free-text query for semantic search against learning component descriptions
          schema:
            type: string
            maxLength: 500
        - $ref: "#/components/parameters/AcademicSubjectParam"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 5
      responses:
        "200":
          description: Successfully retrieved search results (ranked by relevance)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LearningComponentSearchResult"
              example:
                - identifier: "0013fbee-3e76-500f-9978-42aa1a65f105"
                  description: "Use conversions to solve multi-step real-world problems"
                  author: "Achievement Network"
                  provider: "Learning Commons"
                  license: "https://creativecommons.org/licenses/by/4.0/"
                  attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received learning components under CC BY-4.0 from Achievement Network."
                  score: 0.94
                - identifier: "0046446a-0a9b-5ace-92a3-23d4bb158c68"
                  description: "Determine the lateral surface area of three-dimensional cylinders in real-world problems"
                  author: "Achievement Network"
                  provider: "Learning Commons"
                  license: "https://creativecommons.org/licenses/by/4.0/"
                  attributionStatement: "Knowledge Graph is provided by Learning Commons under the CC BY-4.0 license. Learning Commons received learning components under CC BY-4.0 from Achievement Network."
                  score: 0.81
        "400":
          description: Bad request - Missing required query parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Missing required parameter: query. Example: ?query=solve+multi-step+real-world+problems"
                requestId: req_12345
        "422":
          description: Unprocessable Entity - Invalid parameter values (e.g., enum value not in allowed list)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Input should be 'English Language Arts', 'Mathematics', 'Science', 'Social Studies', or 'Other'"
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while searching for learning components
                requestId: req_12345
  /courses:
    get:
      summary: Courses in a curriculum
      description: |
        Fetches a list of Course objects for a specific curriculum.

        A Course consists of a structured sequence of instructional content and activities designed to teach specific skills, knowledge, or competencies over a defined period. It typically encompasses multiple lesson groupings, lessons, and activities and aligns with curriculum standards and intended learning objectives for a particular grade level or subject area.

        Use this endpoint when you need to:
        - Discover available courses within a curriculum
        - Get course metadata (name, description, grade levels, subject)
        - Find course identifiers needed for other curriculum endpoints
      x-mint:
        content: |
          <Note>
            Currently, <code>im360</code> is the only valid value for the <code>curriculumId</code> parameter.
          </Note>
      operationId: listCourses
      tags:
        - Curriculum
      parameters:
        - name: curriculumId
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/CurriculumIdENUM"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/CursorParam"
      responses:
        "200":
          description: Successfully retrieved list of courses
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginatedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Course"
              example:
                data:
                  - identifier: "im:b532b7df-4989-53a2-8f53-8dd829343423"
                    name: "Geometry"
                    description: "For the first several units, students practice making conjectures and observations. This begins with work on compass and straightedge constructions. Students gradually build up to writing formal proofs in narrative form engaging in a cycle of conjecture, rough draft, peer feedback, and final draft."
                    courseCode: "im360:Geo"
                    academicSubject: "Mathematics"
                    gradeLevel:
                      - "high_school"
                      - "9"
                      - "10"
                      - "11"
                      - "12"
                    author: "Illustrative Mathematics"
                    provider: "Learning Commons"
                    inLanguage: "English"
                    educationalUse: "instruction"
                    audience:
                      - "Teacher"
                      - "Student"
                      - "Family"
                    license: "https://creativecommons.org/licenses/by-nc/4.0/"
                    dateCreated: "2020-06-25"
                  - identifier: "im:1459a7dd-a3cd-5540-ada3-60553e2d5987"
                    name: "Integrated Math 2"
                    description: "Students begin the course making observations about triangles. Building from these observations, students gather experimental information, develop conjectures, write informal justifications, and then progress to writing formal proofs using definitions, assertions, and theorems developed in Math 1."
                    courseCode: "im360:Math2"
                    academicSubject: "Mathematics"
                    gradeLevel:
                      - "high_school"
                      - "9"
                      - "10"
                      - "11"
                      - "12"
                    author: "Illustrative Mathematics"
                    provider: "Learning Commons"
                    inLanguage: "English"
                    educationalUse: "instruction"
                    audience:
                      - "Teacher"
                      - "Student"
                      - "Family"
                    license: "https://creativecommons.org/licenses/by-nc/4.0/"
                    dateCreated: "2023-08-22"
                pagination:
                  limit: 100
                  nextCursor: "aW06MTQ1OWE3ZGQtYTNjZC01NTQwLWFkYTMtNjA1NTNlMmQ1OTg3"
                  hasMore: false
        "400":
          description: Bad request - Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: Invalid query parameter value provided
                requestId: req_12345
        "422":
          description: Unprocessable Entity - Invalid curriculumId value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Input should be 'im360'"
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving courses
                requestId: req_12345
  /courses/{courseId}/scope-and-sequence:
    get:
      summary: Scope and sequence for a course
      description: |
        Returns the complete hierarchical structure of a course including its lesson groupings and lessons in a scope and sequence format.

        The structure follows this hierarchy:
        - Course → Lesson Groupings (can be nested) → Lessons

        **Note:** Different curricula use different organizational structures. Lesson groupings might be called units, modules, chapters, sections, themes, etc. depending on the curriculum. The `groupName` property in each lesson grouping indicates what type it is (e.g., "unit", "section", "module").

        Use this endpoint when you need to:
        - Display the complete course outline or table of contents
        - Navigate the course structure programmatically
        - Build a course curriculum map or scope and sequence view
        - Understand the full instructional progression of a course

        The `view` parameter controls the level of detail:
        - `summary`: Returns only essential navigation fields (identifiers, names, positions)
        - `full`: Returns complete objects with all properties for each element
      operationId: getCourseScopeAndSequence
      tags:
        - Curriculum
      parameters:
        - name: courseId
          in: path
          required: true
          description: Unique identifier for the resource in Knowledge Graph
          schema:
            type: string
        - name: view
          in: query
          required: false
          description: |
            Level of detail in the response
            - `summary` -  Identifiers, names, and positions only
            - `full` - All properties
          schema:
            type: string
            enum:
              - summary
              - full
            default: summary
      responses:
        "200":
          description: Successfully retrieved course scope and sequence
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScopeAndSequence"
              example:
                courseId: "im:b532b7df-4989-53a2-8f53-8dd829343423"
                courseName: "Geometry"
                view: "summary"
                lessonGroupings:
                  - identifier: "im:87b50a26-acbf-5798-ac94-ca1423679acd"
                    name: "Constructions and Rigid Transformations"
                    ordinalName: "Unit 1"
                    groupName: "unit"
                    groupLevel: 0
                    position: 0
                    lessons: null
                    children:
                      - identifier: "im:section-a-001"
                        name: "Constructions"
                        ordinalName: "Section A"
                        groupName: "section"
                        groupLevel: 1
                        position: 0
                        children: null
                        lessons:
                          - identifier: "im:lesson-001"
                            name: "Build It"
                            ordinalName: "Lesson 1"
                            position: 0
                          - identifier: "im:lesson-002"
                            name: "Constructing Patterns"
                            ordinalName: "Lesson 2"
                            position: 1
                      - identifier: "im:section-b-001"
                        name: "Defining Rigid Transformations"
                        ordinalName: "Section B"
                        groupName: "section"
                        groupLevel: 1
                        position: 1
                        children: null
                        lessons:
                          - identifier: "im:lesson-006"
                            name: "Transformation Times"
                            ordinalName: "Lesson 6"
                            position: 0
                  - identifier: "im:9cc92808-016e-5b7b-865f-dab6764cb504"
                    name: "Congruence"
                    ordinalName: "Unit 2"
                    groupName: "unit"
                    groupLevel: 0
                    position: 1
                    lessons: null
                    children:
                      - identifier: "im:section-a-002"
                        name: "Congruent Parts, Congruent Figures"
                        ordinalName: "Section A"
                        groupName: "section"
                        groupLevel: 1
                        position: 0
                        children: null
                        lessons:
                          - identifier: "im:lesson-008"
                            name: "Moving Through Transformations"
                            ordinalName: "Lesson 8"
                            position: 0
        "400":
          description: Bad request - Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: Invalid query parameter value provided
                requestId: req_12345
        "404":
          description: Course not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: NotFoundError
                message: "Course with identifier 'im:invalid-id' not found"
                requestId: req_12345
        "422":
          description: Unprocessable Entity - Invalid view parameter value
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: ValidationError
                message: "Input should be 'summary' or 'full'"
                requestId: req_12345
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: InternalServerError
                message: An unexpected error occurred while retrieving course scope and sequence
                requestId: req_12345
  /lesson-groupings/{groupingId}:
    get:
      summary: Lesson grouping by ID
      description: |
        Fetches detailed information about a specific lesson grouping.

        Set of related lessons within a curriculum; naming and organizational level may vary across curricula (e.g., unit, module, chapter, section, theme). The `groupName` property indicates the specific type used by the curriculum.

        Lesson groupings can be nested (e.g., units containing sections, chapters containing modules) as indicated by the `groupLevel` property, where 0 represents the top level.

        Use this endpoint when you need to:
        - Get complete metadata for a specific lesson grouping
        - Retrieve organizational details (group name, level, position)
        - Access curriculum-specific labeling and structure information
        - Understand a lesson grouping's place in the course hierarchy
      operationId: getLessonGroupingById
      tags:
        - Curriculum
      parameters:
        - name: groupingId
          in: path
          required: true
          description: Unique identifier for the resource in Knowledge Graph
          schema:
            type: string
      responses:
        "200":
          description: Successfully retrieved lesson grouping
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LessonGrouping"
              example:
                identifier: "im:857861da-50c7-5302-b288-d0b2d4f82188"
                name: "Complex Numbers"
                ordinalName: "Unit 6"
                groupName: "unit"
                groupLevel: 0
                position: 5
                academicSubject: "Mathematics"
                gradeLevel:
                  - "high_school"
                  - "9"
                  - "10"
                  - "11"
                  - "12"
                author: "Illustrative Mathematics"
                provider: "Learning Commons"
                inLanguage: "English"
                educationalUse: "instruction"
[...]
